* {
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: linear-gradient(#125bf9, #008aef);
  overflow: hidden;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.snowflake {
  position: absolute;
  background-image: url("snowflake-image.svg");
  background-size: cover;
  border-radius: 50px;
  animation: fall 2s linear infinite;
}
@keyframes fall {
  0% {
    transform: translate(50%, 50%);
    opacity: 1;
  }
  100% {
    transform: translate(50%, 1000%);
    opacity: 0;
  }
}
.cloud-span img{
  position: absolute;
  /* animation-name: move;
  animation-duration: 10000ms; */
  animation-iteration-count: infinite;
}
.cloud-span img:nth-child(1){
  left: 0;
  animation-name: move;
  animation-duration: 370000ms;
}
.cloud-span img:nth-child(2){
  left: 200px;
  animation-name: move;
  animation-duration: 32000ms;
}
.cloud-span img:nth-child(3){
  left: 400px;
  animation-name: move;
  animation-duration: 39000ms;
}
.cloud-span img:nth-child(4){
  left: 600px;
  animation-name: move;
  animation-duration: 30000ms;
}
.cloud-span img:nth-child(5){
  left: 800px;
  animation-name: move;
  animation-duration: 34000ms;
}
.cloud-span img:nth-child(6){
  left: 1000px;
  animation-name: move;
  animation-duration: 33000ms;
}
img{
  width: 500px;
}

@keyframes move {
  0%{
    transform: translateX(-1500px);
  }
  100%{
    transform: translateX(1000px);
  }
}

@keyframes textStyle {
  0% {color: #eee;}
  25% {color: silver;}
  50% {color: #eee;}
  75% {color: silver;}
  100% {color: #eee;}
}

h1{
  animation-name: textStyle;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}